<html>
<head>
    <title>Chat Room</title>
</head>
<body>
    <h2>Chat Room: {{ room_name }}</h2>
    <div id="chat"></div>

    <form id="message-form">
        <input type="text" id="message" autocomplete="off" placeholder="Type your message">
        <button>Send</button>
    </form>

    <script>
        const roomName = "{{ room_name }}";
        const chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/chat/' + roomName + '/');

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat').innerHTML += (data.message + '<br>');
        };

        document.querySelector('#message-form').onsubmit = function () {
            const messageInputDom = document.querySelector('#message');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
            return false;
        };
    </script>
</body>
</html>
